<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucerna - Tienda</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{{body}}}

<footer>
    <div class="social-icons">
        <a href="https://facebook.com" target="_blank"><img src="/images/facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com" target="_blank"><img src="/images/twitter.png" alt="Twitter"></a>
        <a href="https://instagram.com" target="_blank"><img src="/images/instagram.png" alt="Instagram"></a>
        <a href="https://linkedin.com" target="_blank"><img src="/images/linkedin.png" alt="LinkedIn"></a>
    </div>
    <p>&copy; 2025 Tienda Lucerna</p>
</footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
